<div id="<%= dom_id comment %>" class="comment">
  <div>
    <p>
      <%= comment.body %>
    </p>
    <span><%= comment.name %> - <%= date_day_month_year(comment.created_at)%></span>
  </div>
</div>
