<form action="<%=post_comments_path(@post) %>" method="post">
  <input type="hidden" name="authenticity_token">
  <div>
    <label style="display: block" for="comment_name"><%= t('comments.name') %></label>
    <input type="text" name="comment[name]" id="comment_name">
  </div>

  <div>
    <label style="display: block" for="comment_body"><%= t('comments.body') %></label>
    <textarea name="comment[body]" id="comment_body"></textarea>
  </div>

  <div>
    <input type="submit"value="Submit">
  </div>
</form>


