<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= link_to post do %>
      <div class="post">
        <h3>
          <%= post.title %>
        </h3>
        <span>Read more → </span>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
